/*!
Twenty Nineteen Editor Frame Styles

NOTE: This file customizes items that are out of the normal scope of style-editor.css due to the auto-prefixing functionality associated with add_editor_style(). When that file is able to edit the post title and a container similar to .edit-post-layout, these styles should be migrated into style-editor.css. 
*/

/** === Includes === */

@import "sass/variables-site/variables-site";
@import "sass/variables-site/colors";
@import "sass/mixins/mixins-master";

/** === Title === */

body.gutenberg-editor-page .gutenberg .editor-post-title__block {
	@include post-section-dash;

	&:before {
		width: $font__size-xxl;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		position: relative;
		top: 0.5em;
	}

	.editor-post-title__input {
		font-family: $font__heading;
		font-size: $font__size-xxl;
	}
}

/** === Off-Center Content === */

body.gutenberg-editor-page .gutenberg .edit-post-layout {

	@media all and (min-width: $tablet_width ) {
		.editor-writing-flow {
			display: grid;
			grid-template-columns: 10% 80% 10%;

			> div {
				grid-column-start: 2;
			}
		}

		.editor-post-title__block,
		.editor-block-list__block {
			margin-left: 0;
			margin-right: 0;
		}

		.editor-block-list__block[data-align="full"] {
			width: 136%;
			position: relative;
			left: -18%;
		}
	}
}