/*!
Twenty Nineteen Editor Frame Styles
*/

/** === Includes === */

@import "sass/variables-site/variables-site";
@import "sass/variables-site/colors";
@import "sass/mixins/mixins-master";

/** === Title === */

body.gutenberg-editor-page .gutenberg .editor-post-title__block {
	@include post-section-dash;

	&:before {
		width: $font__size-xxl;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		position: relative;
		top: 0.5em;
	}

	.editor-post-title__input {
		font-family: $font__heading;
		font-size: $font__size-xxl;
	}
}