
html {
	font-size: $font__size_base;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color__text-main;
	font-family: $font__body;
	font-weight: 400;
	font-size: 1em;
	line-height: $font__line-height-body;
	margin: 0;
	text-rendering: optimizeLegibility;
}
/* non-latin */
@each $lang, $ff_body in $fonts__body {
	body:lang(#{$lang}) {
		font-family: unquote($ff_body);
	}
}

button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__body;
	font-weight: 400;
	line-height: $font__line-height-body;
	text-rendering: optimizeLegibility;
}
/* non-latin */
@each $lang, $ff_body in $fonts__body {
	button:lang(#{$lang}),
	input:lang(#{$lang}),
	select:lang(#{$lang}),
	optgroup:lang(#{$lang}),
	textarea:lang(#{$lang}) {
		font-family: unquote($ff_body);
	}
}

@import "headings";

@import "copy";
