
@mixin media( $res ) {
	@if small == $res {
		@media only screen and (min-width: $sm_width) {
			@content;
		}
	}

	@if medium == $res {
		@media only screen and (min-width: $md_width) {
			@content;
		}
	}

	@if large == $res {
		@media only screen and (min-width: $lg_width) {
			@content;
		}
	}

	@if xlarge == $res {
		@media only screen and (min-width: $xl_width) {
			@content;
		}
	}
}

@mixin link-transition( $attr: color ) {
	transition: $attr $link_transition ease-in-out;
}

@mixin button-transition() {
	transition: background $button_transition ease-in-out;
}

@mixin button-all-transition() {
	transition: all $button_transition ease-in-out;
}

@mixin background-transition() {
	transition: background $background_transition ease-in-out;
}

@mixin selection {
	::-moz-selection {
		@content;
	}
	::selection {
		@content;
	}
}
