// Font and typographic variables

$font__body: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
$font__heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: 1.375rem;

$font__size-xxs:   0.875rem;
$font__size-xs:    1rem;
$font__size-sm:    1.25rem;
$font__size-md:    1.375rem;
$font__size-lg:    1.75rem;
$font__size-xl:    3rem;
$font__size-xxl:   4rem;
$font__size-xxxl:  4.5rem;

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;
