// Font and typographic variables

$font__body: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
$font__heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: 22px;
$font__size-ratio: 1.125;

$font__size-xxs:   1em / (1.5 * $font__size-ratio);
$font__size-xs:    1em / (1.25 * $font__size-ratio);
$font__size-sm:    1em / (1 * $font__size-ratio);
$font__size-md:    1em * (1 * $font__size-ratio);
$font__size-lg:    1em * (1.5 * $font__size-ratio);
$font__size-xl:    1em * (2 * $font__size-ratio);
$font__size-xxl:   1em * (2.5 * $font__size-ratio);
$font__size-xxxl:  1em * (3 * $font__size-ratio);

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;

// Fallback for non-latin fonts

/* Arabic */
html[lang="ar"] *,
html[lang="ary"] *,
html[lang="azb"] *,
html[lang="ckb"] *,
html[lang="fa-IR"] *,
html[lang="haz"] *,
html[lang="ps"] * {
  font-family: Tahoma, Arial, sans-serif !important;
}

/* Cyrillic */
html[lang="be"] *,
html[lang="bg-BG"] *,
html[lang="kk"] *,
html[lang="mk_MK"] *,
html[lang="mn"] *,
html[lang="ru-RU"] *,
html[lang="sah"] *,
html[lang="sr_RS"] *,
html[lang="tt_RU"] *,
html[lang="uk"] * {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans_serif !important;
}

/* Chinese */
html[lang="zh_HK"] *,
html[lang="zh_TW"] *,
html[lang="zh_CN"] * {
  font-family: 'PingFang TC', 'Helvetica Neue', Helvetica, STHeitiTC-Light, Arial, sans-serif !important;
}

/* Devanagari */
html[lang="bn_BD"] *,
html[lang="hi_IN"] *,
html[lang="mr"] *,
html[lang="ne_NP"] * {
  font-family: Arial, sans_serif !important;
}

/* Greek */
html[lang="el"] * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans_serif !important;
}

/* Gujarati */
html[lang="gu"] * {
  font-family: Arial, sans_serif !important;
}

/* Hebrew */
html[lang="he-IL"] * {
  font-family: 'Arial Hebrew', Arial, sans_serif !important;
}

/* Japanese */
html[lang="ja"] * {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", Meiryo, "Helvetica Neue", sans-serif !important;
}

/* Korean */
html[lang="ko-KR"] * {
  font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', Dotum, sans_serif !important;
}

/* Thai */
html[lang="th"] * {
  font-family: 'Sukhumvit Set', 'Helvetica Neue', helvetica, arial, sans-serif !important;
}

/* Vietnamese */
html[lang="vi"] * {
  font-family: 'Libre Franklin', sans-serif !important;
}