// Responsive widths.

$size__spacing-unit: 1rem;
$size__site-main: 100%;
$size__site-sidebar: 25%;

// Responsive widths.

$xs_width: 380px;
$sm_width: 600px;
$md_width: 768px;
$lg_width: 1168px;
$xl_width: 1379px;

