/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.infinite-loader {

	margin: calc(3 * #{$size__spacing-unit} ) auto;

	.spinner {
		margin: 0 auto;
		left: inherit !important;
	}
}

#infinite-handle {

	margin: calc(2 * #{$size__spacing-unit} ) auto;

	span {

		background: transparent;
		display: block;
		font-size: $font__size-sm;
		text-align: center;

		button {

			@include button-transition;
			background: $color__background-button;
			border: none;
			border-radius: 5px;
			box-sizing: border-box;
			color: white;
			font-family: $font__heading;
			font-size: $font__size-sm;
			font-weight: 600;
			line-height: $font__line-height-heading;
			outline: none;
			padding: ( $size__spacing-unit * .66 ) $size__spacing-unit;

			&:hover {
				cursor: pointer;
			}

			&:hover,
			&:focus {
				background: $color__background-button-hover;
			}

			&:focus {
				outline: thin dotted;
				outline-offset: -4px;
			}
		}
	}
}
