$author_bio_vsep: 3.5em;
$author_bio_vsep_reduction_factor: 0.6;

/* Jetpack specific modules */

.author-description {
	@include post-section-dash;

	margin: $author_bio_vsep 0 $author_bio_vsep_reduction_factor*$author_bio_vsep;

	h2.author-title {
		display: inline;
	}

	p.author-bio {

		word-spacing: -0.05em;
		display: inline;
		color: $color__text-light;
		line-height: 1.3;

		&:before {

			display: inline-block;
			content: "–";
			transform: scaleX(1.8);
			margin: 0 0.5em;

			@include media(tablet) {
				margin: 0 0.35em;
			}

			@include media(desktop) {
				margin: 0 0.3em;
			}
		}

		a.author-link {
			font-family: $font__heading;
			font-weight: 700;
			display: inline-block;

			&:hover {
				color: $color__link-hover;
				text-decoration: none;
			}
		}
	}
}
